footer {
  background: #f5824c url(../images/footer.png?bb7ba650089c9133db78a44337eb9eb7);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  text-align: center;
  color: #fff;
}

footer .ftr_contact {
  padding: 4em 0 3em;
}

footer .ftr_contact h4 {
  color: #fff;
  padding-top: 20px;
}

footer .ftr_contact li {
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  height: 40px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  line-height: 46px;
  width: 40px;
  border: 1px solid #000;
}

footer .ftr_contact li a {
  color: #000;
  text-align: center;
}

footer .cls_partner {
  padding: 0 0 2em 0;
}

footer .cls_partner li {
  display: inline-block;
  margin: 0 40px;
}

footer .cls_partner li a {
  font-size: 26px;
  color: #fff;
}

footer .cls_partner1 {
  padding: 1em 0 3em;
}

footer .cls_partner1 li {
  display: inline-block;
  margin: 0 20px;
}

footer .cls_partner1 li a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

footer .cls_partner2 {
  padding: 0 0 2em 0;
}

footer .cls_partner2 .cls_partner2ui {
  display: inline-flex;
  align-items: center;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet {
  /* &:before
            {
              top: 4px;
              right: 6px;
              background-blend-mode: exclusion;
              background: #fff url(../images/new/selectarrow.png);
              background-repeat: no-repeat;
              background-size: 12px;
              background-position: center;
            }*/
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select {
  width: 160px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  height: 45px;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select .select-styled {
  background-color: #000;
  border-radius: 50px;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select .select-styled:hover {
  background-color: #000;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select .select-options {
  border-radius: 2px;
  bottom: 100%;
  top: auto;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select .select-options li {
  width: 100%;
  margin: 0 !important;
  padding: 8px 10px;
  color: #000;
}

footer .cls_partner2 .cls_partner2ui .custom_bselet .select .select-options.active {
  background-color: #000;
}

footer .cls_partner2 .cls_partner2ui li {
  display: inline-block;
  margin: 0 20px;
}

footer .cls_partner2 .cls_partner2ui li img.ftrlogo {
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .cls_partner2 .cls_partner2ui li select.cls_lang {
  padding: 10px 75px 10px 25px;
  border-radius: 50px;
  color: #fff;
  position: relative;
  background: none;
  border: none;
}

footer .cls_partner2 .cls_partner2ui li select.cls_lang option {
  color: #000;
}

footer .cls_partner2 .cls_partner2ui li select.cls_lang:focus {
  outline: none;
}

@media screen and (max-width: 991px) {
  footer .cls_partner2 .cls_partner2ui {
    display: inline-block;
    align-items: center;
  }

  footer .cls_partner2 .cls_partner2ui li {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  footer .cls_partner2 .cls_partner2ui {
    display: inline-block;
    align-items: center;
  }

  footer .cls_partner2 .cls_partner2ui li {
    margin: 15px 5px;
    width: 100%;
  }

  footer .cls_partner2 .cls_partner2ui .custom_bselet {
    border: 0px solid #fff;
    width: 150px;
    text-align: left;
    position: relative;
  }

  footer .cls_partner2 .cls_partner2ui .custom_bselet:before {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
    z-index: 3;
    background-image: unset;
  }

  footer select.cls_lang {
    background: #000 !important;
    position: relative;
    width: 100%;
  }

  footer select.cls_lang option {
    color: #fff !important;
  }

  footer select.cls_lang:focus {
    outline: none;
  }
}

.inner-page footer {
  margin-top: 4em;
}

.inner-page footer .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.inner-page footer .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.inner-page footer .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
}

.inner-page footer .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.inner-page footer .select-styled:hover {
  background-color: #b83729;
}

.inner-page footer .select-styled:active,
.inner-page footer .select-styled.active {
  background-color: #ab3326;
}

.inner-page footer .select-styled:active:after,
.inner-page footer .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.inner-page footer .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  max-height: 200px;
  overflow: auto;
}

.inner-page footer .select-options li {
  margin: 0;
  padding: 12px 10px;
  text-indent: 0px;
  border-bottom: 1px solid #ddd;
  transition: all 0.15s ease-in;
}

.inner-page footer .select-options li:hover {
  color: #000;
  background: #fafafa;
}

.inner-page footer .select-options li[rel="hide"] {
  display: none;
}

.inner-page footer .container div {
  border-top: unset;
}

.inner-page footer .container div i.icon:before {
  vertical-align: unset;
}

html[lang="ar"] footer .select-styled:after {
  left: 10px;
  right: auto;
}

